<ion-view view-title="培训列表">
  <ion-content>
    <ion-list 
          show-delete="shouldShowDelete"
          show-reorder="shouldShowReorder"
          can-swipe="listCanSwipe">
	  <ion-item ng-repeat="item in training.list"
	            class="item-thumbnail-left" ng-href="#/tab/traininglists/{{item.id}}">
	
	    <img ng-src="../../../{{item.imgurl}}">
	    <h2>{{item.title}}</h2>
	    <p>讲师：{{item.lecturer}}</p>
	    <p>报名：{{item.number}} 人</p>
	    <ion-option-button class="button-positive"
	                       ng-click="share(item)">
	      Share
	    </ion-option-button>
	    <ion-option-button class="button-info"
	                       ng-click="edit(item)">
	      Edit
	    </ion-option-button>
	    <ion-delete-button class="ion-minus-circled"
	                       ng-click="items.splice($index, 1)">
	    </ion-delete-button>
	    <ion-reorder-button class="ion-navicon"
	                        on-reorder="reorderItem(item, $fromIndex, $toIndex)">
	    </ion-reorder-button>
		
	  </ion-item>
</ion-list>
  </ion-content>
</ion-view>